<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-title>Gallery</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">gallery</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <!-- รูปภาพที่ 1 -->
        <ion-img src="https://images.livemint.com/img/2022/09/02/1600x900/gamora_thanos_1662112474729_1662112481676_1662112481676.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <!-- รูปภาพที่ 2 -->
        <ion-img src="https://www.liveabout.com/thmb/o6ZblmN-BrO6lrx4j0CutcUsCxE=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/kim-jong-un-floppy-disk-58b8f4e33df78c353c45334c.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <!-- รูปภาพที่ 3 -->
        <ion-img src="https://media.hswstatic.com/eyJidWNrZXQiOiJjb250ZW50Lmhzd3N0YXRpYy5jb20iLCJrZXkiOiJnaWZcL3BsYXlcL2JlMjUwZTNmLTA3YzQtNGJmMC05NTg0LWZhNWYzNWE1Zjc4Mi0xOTIwLTEwODAuanBnIiwiZWRpdHMiOnsicmVzaXplIjp7IndpZHRoIjo4Mjh9fX0="></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <!-- รูปภาพที่ 4 -->
        <ion-img src="https://i.kym-cdn.com/photos/images/original/002/613/166/3dd.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <!-- รูปภาพที่ 5 -->
        <ion-img src="https://forum.dark-gaming.com/uploads/default/original/2X/1/1b42885df6c500af5babe4fd7013bffbb9fb08f1.jpeg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <!-- รูปภาพที่ 6 -->
        <ion-img src="https://images.squarespace-cdn.com/content/55aa0163e4b0f765fc46dcd4/1601787770842-QEIBQ0E3YRRDUNG8VZNM/3.png?content-type=image%2Fpng"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <!-- รูปภาพที่ 7 -->
        <ion-img src="https://i.imgflip.com/3lki4e.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <!-- รูปภาพที่ 8 -->
        <ion-img src="https://i.ytimg.com/vi/ugpzZPTWieA/maxresdefault.jpg"></ion-img>
      </ion-col>
      <ion-col size="4">
        <!-- รูปภาพที่ 9 -->
        <ion-img src="https://cdn.ebaumsworld.com/2023/06/23/095623/87414509/Subar.jpg"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
